{% load static %}
<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no">
    <title>DoctestQuiz</title>
    <link rel='shortcut icon' type='image/x-icon' href="{% static 'img/favicon.ico' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,500&display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/v/bs4/dt-1.10.21/r-2.2.5/datatables.min.css">
    <link rel="stylesheet" href="{% static 'css/doctestquiz.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.datatables.net/v/bs4/dt-1.10.21/r-2.2.5/datatables.min.js"></script>
    {% comment %}
    <script src="{% static 'js/jquery.formset.js' %}"></script>
    <script src="{% static 'js/doctestquiz.js' %}"></script>{% endcomment %}
    {% block extra_head %}{% endblock extra_head %}
</head>

<body>
    {% comment %}{% include "includes/sidebar.html" %}{% endcomment %}
    <div class="main">
        {% include "includes/messages.html" %}
        <h1>{% block title %}{% endblock title %}</h1>
        <hr>
        {% block content %}{% endblock content %}
    </div>
</body>

</html>