{% extends 'base.html' %}

{% block title %}Dashboard{% endblock title %}
{% block subtitle %}Access quick actions customized for your account.{% endblock subtitle %}

{% block content %}
<div class="dashboard-body core-font">
    <ul>
        <li>
            <div class="card">
                <div class="card-header w-100">
                    <h5 class="text-uppercase m-0">Create Invoice</h5>
                </div>
                <div class="card-body">
                    <p class="card-text">Create an invoice for your existing partners!</p>
                </div>
                <div class="card-footer w-100">
                    <a class="btn btn-success" href="{% url 'invoices:create' %}"><i class="fas fa-plus fa-fw"></i></a>
                </div>
            </div>
        </li>
        <li>
            <div class="card">
                <div class="card-header w-100">
                    <h5 class="text-uppercase m-0">Create Partner</h5>
                </div>
                <div class="card-body">
                    <p class="card-text">Create a new partner!</p>
                </div>
                <div class="card-footer w-100">
                    <a class="btn btn-success" href="{% url 'partners:create' %}"><i class="fas fa-plus fa-fw"></i></a>
                </div>
            </div>
        </li>
        {% for shift in shifts %}
        <li>
            <div class="card">
                <div class="card-header w-100">
                    <h5 class="text-uppercase m-0">
                        Shift <span class="text-secondary">{{ shift.description }}</span>
                    </h5>
                </div>
                <div class="card-body">
                    <p>You have not associated this shift with a project. If you don't do so, this time might not be invoiced!</p>
                </div>
                <div class="card-footer w-100">
                    <a class="btn btn-warning" href="{% url 'accounts:shifts_edit' uid=shift.uid %}"><i class="fas fa-pen fa-fw"></i></a>
                </div>
            </div>
        </li>
        {% endfor %}
        {% for invoice in invoices %}
        <li>
            <div class="card">
                <div class="card-header w-100">
                    <h5 class="text-uppercase m-0">Invoice <span class="text-secondary">{{ invoice.invoice_id }}</span>
                    </h5>
                </div>
                <div class="card-body">
                    {% if invoice.status == 2 %}
                    <p>The partner failed to pay on time. Make sure to contact them and/or suspend their services!</p>
                    {% else %}
                    <p>The status of this invoice is not final so we thought it might be of interest!</p>
                    {% endif %}
                    <p class="card-text">{{ invoice.get_html_status }}</p>
                </div>
                <div class="card-footer w-100">
                    <a class="btn btn-info" href="{% url 'invoices:pdf' uid=invoice.uid %}"><i class="fas fa-file-pdf fa-fw"></i></a>
                    <a class="btn btn-warning" href="{% url 'invoices:edit' uid=invoice.uid %}"><i class="fas fa-pen fa-fw"></i></a>
                </div>
            </div>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock content %}