html,
body {
    font-family: "Roboto", sans-serif;
}
h1, h2 {
    text-transform: uppercase;
    font-weight: 700;
}
.asteriskField {
    display: none;
}
.list-view td:last-child {
    width: 128px;
}
#jsDetailTable_wrapper ul.pagination {
    margin: 0;
}
#jsDetailTable_wrapper .page-link {
    padding: 0.3rem .5rem;
    line-height: normal;
}
.gj-picker-bootstrap table tr td.selected.gj-cursor-pointer div {
    background-color: #007bff !important;
    border-color: #007bff !important;
}
.gj-picker-bootstrap table tr td.today div {
    color: #007bff !important;
}
.gj-picker-bootstrap table tr td.selected.gj-cursor-pointer div {
    color: #fff !important;
}
.item-table {
    min-width: 92px;
}
.main {
    /* margin-left: 256px; */
    margin-left: 0;
    padding: 32px;
    padding-top: 32px;
    padding-bottom: 32px;
    overflow: auto;
    transition: all 250ms ease-in-out;
}
@media (max-width: 991px) {
    .main {
        margin-left: 0;
    }
    .main-below {
        filter: blur(16px);
        pointer-events: none;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        user-select: none;
    }
    .body-below {
        overflow: hidden;
    }
}
.sidenav {
    height: 100%;
    width: 256px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    display: flex;
    flex-flow: column;
    background-color: #f0f0f0;
    padding: 16px 16px;
    overflow-y: auto;
    transition: all 250ms ease-in-out;
}
.sidenav-controls {
    flex: 1;
    margin-top: 16px;
    margin-bottom: 16px;
}
.sidenav a {
    padding: 8px;
    margin: 4px 0;
    font-weight: 500;
    border-radius: 4px;
    text-decoration: none;
    font-size: 16px;
    color: #000000;
    display: block;
    transition: all 250ms ease;
}
.sidenav a.active {
    background-color: #8cc63f;
    color: #ffffff;
    transform: scale(1.05);
}
.sidenav a:hover:not(.active) {
    background: #ffffff;
    color: #404040;
}
.sidenav-button { 
    position: fixed;
    left: 0;
    top: calc(50vh - 16px);
    z-index: 2;
    border: none;
    outline: 0;
    font-size: 2rem;
    display: none;
    padding: 4px;
    padding-left: 8px;
    transition: all 250ms ease-in-out;
}
.sidenav-button:focus {
    box-shadow: none;
}
@media (max-width: 991px) {
    .sidenav {
        left: -256px;
    }
    .sidenav-show {
        left: 0;
        box-shadow: 4px 0 16px #000000;
    }
    .sidenav-button {
        display: block;
    }
    .sidenav-button-show { 
        left: 256px;
        padding-left: 4px;
        padding-right: 16px;
        transform: scaleX(-1);
    }
}
.dashboard-body ul {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin: 0;
    padding: 0;
    grid-gap: 1rem;
    list-style: none;
    list-style-position: inside;
}
.dashboard-body ul li .card {
    height: 16rem;
}
@media (min-width: 900px) {
    .dashboard-body ul {
        grid-template-columns: repeat(2, 2fr);
    }
}
@media (min-width: 1200px) {
    .dashboard-body ul {
        grid-template-columns: repeat(3, 3fr);
    }
}
@media (min-width: 1600px) {
    .dashboard-body ul {
        grid-template-columns: repeat(4, 4fr);
    }
}
.link-unstyled, .link-unstyled:link, .link-unstyled:hover {
    color: inherit;
    text-decoration: inherit;
}
.badge-careful {
    color: #fff;
    background-color: #ee7b26;
}
.progress {
    height: 20px;
}
.progress > p {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.5;
}
.progress-time-track {
    background: linear-gradient(90deg, rgba(220, 53, 69, 1), rgba(255, 193, 7, 1), rgba(40, 167, 69, 1));
}
.btn-sm {
    padding-left: 0.375rem;
    padding-right: 0.375rem;
}
.btn-detail {
    width: 100%;
    margin: 4px 8px;
}
@media (min-width: 768px) {
    .btn-detail {
        width: auto;
    }
}
.btn-fade {
    animation: buttonFade 2000ms infinite;
}
@keyframes buttonFade {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}
.alert {
    background-color: #f8f8f8;
    border-radius: 4px;
    color: #000000;
}
.alert > ul {
    list-style-type: none;
    padding: 0;
}
.alert-dismissible {
    margin: 12px 12px 12px 12px;
    animation: alertSlide 500ms;
}
.alert-success {
    border-top: 6px solid #8cc63f;
}
.alert-danger {
    border-top: 6px solid #f44336;
}
.alert-warning {
    border-top: 6px solid #ff9800;
}
.alert.debug {
    border-top: 6px solid #181818;
}
.alert-info {
    border-top: 6px solid #3fc6bd;
}
@media (min-width: 992px) {
    .alert-dismissible {
        margin: 12px 12px 12px 272px;
    }
}
@keyframes alertSlide {
    0% {
        transform: translate(0, -72px);
    }
    100% {
      transform: translate(0, 0);
    }
}
