{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load crispy_forms_field %}

{% block title %}Activity Editor{% endblock title %}
{% block extra_head %}
<script src="{% static 'js/jquery.formset.js' %}"></script>
{% endblock extra_head %}

{% block content %}
<form novalidate method="post">
    {% csrf_token %}
    <div class="row">
        <div class="col-12 col-xl-6">
            {{ form.description|as_crispy_field }}
            <div id="div_id_function_header" class="form-group">
                <label for="id_function_header" class=" requiredField">Function header<span class="asteriskField">*</span>
                </label>
                <div class="">
                    {% crispy_field form.function_header 'class' 'form-control text-monospace' %}
                    {% if form.function_header.errors %}
                    <div class="invalid-feedback">
                        {% for error in form.function_header.errors %}
                        <strong>{{ error }}</strong>
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>
            </div>
            {{ form.attempts|as_crispy_field }}
        </div>
        <div class="col-12 col-xl-6">
            <label for="id_doctests_table">Doctests</label>
            (Every failed attempt will reveal a hidden doctest)
            <table id="id_doctests_table" class="table">
                <thead>
                    <tr>
                        <th scope="col" width="45%">Input</th>
                        <th scope="col" width="45%">Output</th>
                        <th scope="col" width="5%">Hidden</th>
                        <th scope="col" width="5%"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for form in formset.forms %}
                    {% for field in form.hidden_fields %}{{ field }}{% endfor %}
                    <tr id="{{ form.prefix }}-row">
                        <td>
                            {% crispy_field form.input 'class' 'form-control form-control-sm text-monospace' %}
                            {% if form.input.errors %}
                            <div class="invalid-feedback">
                                {% for error in form.input.errors %}
                                <strong>{{ error }}</strong>
                                {% endfor %}
                            </div>
                            {% endif %}
                        </td>
                        <td>
                            {% crispy_field form.output 'class' 'form-control form-control-sm text-monospace' %}
                            {% if form.output.errors %}
                            <div class="invalid-feedback">
                                {% for error in form.output.errors %}
                                <strong>{{ error }}</strong>
                                {% endfor %}
                            </div>
                            {% endif %}
                        </td>
                        <td>
                            {% crispy_field form.is_hidden 'class' 'form-control form-control-sm' %}
                            {% if form.is_hidden.errors %}
                            <div class="invalid-feedback">
                                {% for error in form.is_hidden.errors %}
                                <strong>{{ error }}</strong>
                                {% endfor %}
                            </div>
                            {% endif %}
                        </td>
                        <td class="btn-delete-container">{% if form.instance.pk %}{{ form.DELETE }}{% endif %}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <p>
                {{ formset.management_form }}
            </p>
        </div>
    </div>
    <hr>
    <div class="form-actions">
        <button id="submitButton" type="submit" class="btn btn-success btn-detail">
            <i class="fas fa-check fa-fw mr-1"></i>
            Save
        </button>
        <a class="btn btn-secondary btn-detail" href="{{ request.GET.next }}">
            <i class="fas fa-times-circle fa-fw mr-1"></i>
            Cancel
        </a>
    </div>
</form>
<script type="text/javascript">
    $(function () {
        $('#id_doctests_table tbody tr').formset({
            prefix: 'doctests'
        })
    })
</script>
{% endblock content %}