{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Activity Runner{% endblock title %}

{% block extra_head %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.57.0/codemirror.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.57.0/codemirror.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.57.0/mode/python/python.min.js"></script>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-12 col-xl-6">
        <form id="codeForm" novalidate method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <div class="form-actions">
                <button id="submitButton" type="submit" class="btn btn-success btn-detail">
                    <i class="fas fa-play fa-fw mr-1"></i>
                    Execute
                </button>
            </div>
        </form>
    </div>
    <div class="col-12 col-xl-6">
        <label for="id_code" class="control-label requiredField">Output</label>
        <div style="background-color: black; color: white; border-radius: 8px; padding: 16px; word-wrap: break-word;">
            {{ output|linebreaksbr }}
        </div>
        <div class=" mt-3 alert alert-{{color}}" style="border-radius: 8px; padding: 16px;">
            {{ status|linebreaksbr }}
        </div>
    </div>
</div>
<script>
    window.myCodeMirror = CodeMirror.fromTextArea(document.getElementById("id_source_code"), {
        lineNumbers: true,
        indentUnit: 4,
        indentWithTabs: false,
        autofocus: true,
        mode: 'python',
    });
    $(document).ready(function () {
        $("#codeForm").submit(function (e) {
            $("#submitButton").attr("disabled", true);
            $(".spinner-grow").removeClass("d-none");
        });
    });
</script>
{% endblock content %}